// Colors
$header_bg: #fff;
$hover: #a70c5d;
$font-color: #414252;
$border-color: #dfdfe2;
$hover-border: #4b6cb8;
$form-border: #dcdcdc;

// Sizes
$large: 1060px;
$small: 768px;
$form-width: 380px;
$form-large-width: 340px;